<h1>New Product</h1>
<%= form_for @product do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :price %><br>
  <%= f.text_field :price %>
  </div>
  <div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </div>
  <div class="field">
  <%= f.label :inventory %><br>
  <%= f.text_field :inventory %>
  </div>
  <div class="actions">
  <%= f.submit "submit" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/products', values);

      posting.done(function(data) {
        var product = data;
        $("#productName").text(product["title"]);
        $("#productDescription").text(product["description"]);
        $("#productInventory").text(product["inventory"]);
        $("#productPrice").text(product["price"]);
      });
    });
  });
</script>
